//VARIABLES

$main-color: #075699;
$secundary-color: #ed2f39;
$color-de-main: #f1f1f1;
$font-family: 'Raleway', sans-serif;
//PARTIALS

//MIXINS

@mixin flex ($justify , $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

//ESTILOS-GENERALES

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-family;
}

ul{
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
}

main{
    background-color: $color-de-main;
}

.main-header{
    @include flex(space-around, center);
    flex-direction: column;

    height: 15vh;
    background-color: $main-color;
    color: white;
    border-top: $secundary-color solid 7px;
    border-bottom: $secundary-color solid 7px;
}

.presentacion{
    @include flex(space-around, center);

    width: 100%;

    .linea-gradiente{
        display: none;
        width: 100%;
        height: 5px;
        background-color: $secundary-color;
        border-radius: 10px;
    }

    .logo-name{
        @include flex(center, center);

        margin: 0 10px;
        
        .logo{
            width: 70px;
        }

        h2{
            white-space: nowrap;
        }
    }
}

.nav-bar{
    display: none;

    ul{
        @include flex(space-around, center);
        
        li{
            padding: 10px;
            a{
                color: white;
                text-transform: uppercase;
                padding:  10px;
                border-radius: 10px;

                &:hover{
                    background-color: #0974d1;
                    transition: all 0.5s;
                }
            }
        }
    }
}

.turnos{
    @include flex(space-around, center);
    flex-direction: column;

    height: 150px;

    h3{
        text-align: center;
        font-size: 1.4rem;
    }
}

.btn{
    cursor: pointer;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: $main-color;
    padding: 10px;

    &:hover{
        background-color: $secundary-color;
    }

    a{
        color: white;
        font-size: 1.2rem;
    }
    
    &-desafio{
        @extend .btn
    }
}

